include LICENSE
include requirements.txt
include *.md
include conf/*
include docker/*
recursive-include dockerfiles *
include key/*
include plans/*
recursive-include templates *
global-exclude *.pyc
global-exclude *.pyo
