include LICENSE
include requirements.txt
include *.md
include docker/*
include ferry/logging.conf
include ferry/data/conf/*
recursive-include ferry/data/dockerfiles *
include ferry/data/key/*
include ferry/data/plans/*
recursive-include ferry/data/templates *
global-exclude *.pyc
global-exclude *.pyo
global-exclude *~
