security:
   authorization: enabled
systemLog:
   destination: file
   path: "$MONGO_LOG/mongodb.log"
   quiet: false
   logAppend: true
storage:
   journal:
      enabled: true
   dbPath: "$MONGO_DATA"
   smallFiles: true
processManagement:
   fork: true
net:
   bindIp: 0.0.0.0
   port: 27017